@import 'lib/vars';
@import 'lib/mixins';
@import 'lib/reboot';
@import 'lib/fontawesome/font-awesome';
@import 'lib/fontface';
@import 'lib/keyframes';


$corporateColor: rgb(96, 94, 206);

// * { border: 1px solid $corporateColor;}

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
}

p {
    margin: 0;
}

.app {
    display: grid;
    grid-template-rows: auto 150px 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;

    .header {
        grid-area: 1 / 1 / span 1 / span 1;
    }

    .main {
        grid-area: 2 / 1 / span 2 / span 1;
    }

    .footer {
        grid-area: 4 / 1 / span 1 / span 1;
    }
    
    .spinner {
        grid-area: 1 / 1 / -1 / span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }

    .modal {
        grid-area: 3 / 1 / -1 / -1;
        z-index: 4;
    }

    .modal_bg {
        grid-area: 1 / 1 / -1 / -1;
        z-index: 3;
    }

    @media screen and (min-width: 768px) {
        grid-template-rows: auto 1fr;
        grid-template-columns: 400px 1fr auto;

        .header {
            grid-area: 1 / 1 / span 1 / span 2;
            z-index: 3;
        }

        .main {
            grid-area: 1 / 1 / -1 / span 2;
        }
        
        .footer {
            grid-area: 1 / 3 / -1 / -1;
        }

        .spinner {
            grid-area: 1 / 1 / -1 / -1;
        }

        .modal {
            grid-area: 1 / 2 / -1 / -1;
            z-index: 4;
        }

        .modal_bg{
            grid-area: 1 / 1 / -1 / span 2;
            z-index: 3;
        }
    }
}

.header {
    background-color: $corporateColor;
    text-align: center;;
    padding: 1rem;
    color: white;
}

.footer {
    background-color: $corporateColor;
    padding: 1em;

    .footermodal {
        display: block;
        position: relative;

        .cerrar {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

            .fa {
                font-size: 1.5rem;
                margin-right: 1rem;
            }
        }

        .guardar {

            .fa {
                display: none;
            }
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        border-radius: 0 1rem 1rem 0;
        position: absolute;
        height: 8%;
        width: 70px;
        justify-content: center;
        top: 45%;
        z-index: 5;

        .footermodal {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;

            p {
                display: none;
            }

            .fa {
                padding-left: .5rem;
                font-size: 2rem;
            }
        }
    }
}

.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: 500ms ease-in-out;

    background-color: white;
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    margin: -3rem auto;
    padding: 2rem;

    &.opened {
        visibility: visible;
        opacity: 1;
        transition: 500ms ease-in-out;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;

        .lugar {
            margin: 0;
        }

        .cerrar {
            cursor: pointer;
            
            .fa {
                color: $corporateColor;
                font-size: 1.5rem;
            }
        }
    }

    main {
        font-size: 1.2rem;

        .weather_items {
            margin-top: 1rem;

            .weather_item {
                display: flex;
                align-items: center;
                padding: 2rem 0;
                justify-content: space-between;
                border-bottom: solid 1px $corporateColor;

                .humedad, .tiempo, .viento {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .fa {
                    margin-right: .5rem;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        font-size: 1rem;

        .fa {
            margin-right: .5rem;
            color: $corporateColor;
            font-size: 1.5rem;
        }

        .cerrar {
            display: flex;
            align-items: center;
            font-size: 1.2rem;

            .fa {
                margin-right: 1rem;
            }
        }

        .guardar {
            cursor: pointer;

            .fa {
                font-size: 2rem;
                margin-right: -.2rem;
            }
        }
    }

    @media screen and (min-width: 768px) {
        transform: translateX(100%);

        width: 80%;
        height: 70%;
        top: 20%;
        right: 28%;
        
        &.opened {
            transform: translateX(0);
        }
    }
}

.modal_bg {
    background-color: rgba(rgb(48, 45, 75), 0.8);
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms ease-in-out;

    &.opened {
        opacity: 1;
        visibility: visible;
        display: block;
        transition: 500ms ease-in-out;
    }
}

.spinner {
    visibility: hidden;
    font-size: 2rem;
    color: $corporateColor;

    &.opened {
        visibility: visible;
    }
}

#oscarmapa {
    width: 100%;
    height: 100%;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
    display: none !important;
}

g {
    fill: $corporateColor;
}